.test {
    background-color: red !important;
}

.test2 {
    background-color: blue !important;
}

.test3 {
    background-color: goldenrod !important;
}

.test4 {
    background-color: forestgreen !important;
}

.test5 {
    background-color: orangered !important;
}